body, html{
    height: 100%;
    width : 100%;
    margin:0;
    
}

h1{
    font-size: 24px;
}

.content{
    display: flex;
    height:100%;
}


.sidebar{
    height: 100%;
    width:100px;
    display: block;

}
.sidetitle{
    height: 100%;
    width:100px;
    display: flex;

}

.logoimg{
    bottom:0;
    position: absolute;
}




.title{
    width: 100%;
    vertical-align: middle;
  
    margin: auto 0;
}

.rotate {
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.vis-item.vis-background.workhours {
    background: #AFD9FE;
    z-index: -1;
  }


select{
    position: absolute;
    top:0;
    right:0;
    font-size: 24px;
    padding: 10px;
    background-color: #fff;
    width: 250px;
    z-index: 100;
}

.main-content{
    height: 100%;
    width:100%;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    visibility: hidden;
    opacity: 0.4;

    position:absolute;
    top:0;
    left:0;
    z-index:9998;
}


.mynetwork {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
}

.networkbg{
    position:absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    opacity: 0.9;
    background-color: transparent;
}

.networktext{
    position:absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background-color: #2d2d2d;
}

.info{
    position: absolute;
    top:0;
    right:0;
    margin:20px;
    z-index:10000;
}

.legend{
    visibility: hidden;
    position: absolute;
    top:0;
    right:0;
    height:95%;
    margin-top:30px;
    text-align:center;
    z-index:9999;
}


.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

.opening-frame-container{
   width: 100%;
   height:100%;
   background-color: #2d2d2d;
   padding:auto;
   z-index:100000;
   position:fixed;
   top:0;
   left:0;
}

@media screen and (max-width: 1024px){
    .opening-frame{
        width:100%;
        height:auto; 
        margin-top:20%;  
    }
}
@media screen and (min-width: 1024px){
    
    .opening-frame{
        width:auto;
        height:100%;  
    }

}

.openframe-animate{
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
}





